{% extends 'base.html.twig'%}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    <form method="POST">
        <input name="firstName" id="firstName" type="text" placeholder="Prénom" {% if firstName %}value="{{firstName}}"{% endif %}/>
        <input name="lastName" id="lastName" type="text" placeholder="Nom" {% if lastName %}value="{{lastName}}"{% endif %}/>
        <input name="email" id="email" type="text" placeholder="Adresse Email" {% if email %}value="{{email}}"{% endif %}/>
        <input name="phone" id="phone" type="text" placeholder="Téléphone" {% if phone %}value="{{phone}}"{% endif %}/>
        <input name="password" id="password" type="password" placeholder="Mot de passe"/>
        <input name="confirm" id="repeated-password" type="password" placeholder="Confirmez votre Mot de passe"/>
        
        <button>
            S'inscrire
        </button>

        <div>
            <a href="{{ path('app_login') }}">
                Vous avez déjà un compte ? Connectez-vous
            </a>
        </div>
    </form>
{% endblock %}
